.profile__wrapper-avatar {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 550px) {
  .profile__wrapper-avatar {
    flex-direction: column;
    margin-right: 0;
    row-gap: 26px;
  }
}
